@model IEnumerable<SoporteTecnico.BL.Servicio>

@{
    ViewBag.Title = "Servicios";
}

<h2><font color="Navy">Nuestros Servicios</font></h2>

<p>
    @Html.ActionLink("Servicio Nuevo", "Crear")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.Id })
        </td>
    </tr>
}

</table>
